# Bỏ qua file môi trường
.env

audio_uploads/
temp/
# Bỏ qua thư mục môi trường ảo
.venv/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Test results
*.log
*.coverage
.coverage.*
.cache
pytest_cache/
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy, Pyright, hoặc type checker files
.mypy_cache/
.pyre/
.pytype/

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific files
.DS_Store

# Docker-specific
*.pid

# Added from the code block
data/voice_profiles/user_5/profile_3/con.wav